{
    dataset: [
        {
			operator : '102', 
			transaction : 1196,  
			ringtime : 28116,
			net : 37005,
			item : 7677
		},
		
		{
			operator : '103', 
			transaction : 438,  
			ringtime : 10206,
			net : 13479,
			item : 2606
		}
    ]
}