<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<title> Sample </title>
	<script type="text/javascript" src="/js/lib/jquery.js"></script>
	<script type="text/javascript" src="/js/lib/jfastmenu/jfastmenu_v1.2.0/jfastmenu.js"></script>
	<link rel="stylesheet" type="text/css" href="/js/lib/jfastmenu/apycom.com-12-gray/menu.css" />
	<style type="text/css">
    * { margin:0;
        padding:0; }
    html { background:#333333; }
    body {
        margin:40px auto;
        height:466px;
        background:#454545;
        overflow:hidden;
    }
    div#menu {
		margin-left:120px;
		position:relative;
		top:25px;
    }

	</style>
	<script type="text/javascript">
	$(document).ready(function(){
		jQuery.jFastMenu("#menu");
	});
	
	// 오른쪽마우스 막기
    document.oncontextmenu = function(e) {
    	if(e) {
      		e.preventDefault();
     	}
     	else {
      		event.keyCode = 0;
           	event.returnValue = false;
        }
    }
	
	// 새로고침, 뒤로가기 막기
	document.onkeydown = function(e) {
 		key = (e) ? e.keyCode : event.keyCode;
 		ctrl = (e) ? e.ctrlKey  : event.ctrlKey;
 
		// ctrl : 컨트롤 키 누름여부
		// 78 : N -> ctrl+N : 새창띄우기
		// 82 : R -> ctrl+R : 새로고침
		// 116 : F5
		// 112~123 : F1~F12		
		if( (ctrl == true && (key == 78 || key == 82)) || key==116) {
    		if(e) {
      			e.preventDefault();
    		} 
    		else {
           		event.keyCode = 0;
           		event.returnValue = false;
    		}
  		}
	}
	</script>
  </head>
<body>
	<div id="menu">
		<ul class="menu">
			<li><a href="/vm/extjs/sample.html" class="parent"><span>test</span></a></li>
			#include("vm/inc/extJs.vm")
			<!--
			#include("vm/inc/cheditor.vm")
			#include("vm/inc/osstemJs.vm")
			#include("vm/inc/sample.vm")
			<li><a href="/vm/mustache.html" class="parent"><span>mustache.html</span></a></li>
			
			##include("vm/inc/table.vm")
			##include("vm/inc/organization.vm")
			-->
        </ul>
	</div>	
</body>
</html>